DraymanGate/draymanInLane.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (http://www.altova.com) by Lily Lu (NAVIS, LLC) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="elementsLib.xsd"/>
	<xs:element name="draymanInLane">
		<xs:annotation>
			<xs:documentation>Root of the “draymanInLane” XML message.  The “time” attribute is the message generation time expressed as a 25-character string: YYYY-MM-DDThh:mm:ssTZD (eg 1997-07-16T19:20:30+01:00).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="truck">
					<xs:annotation>
						<xs:documentation>Encapsulates the drayman that is arriving at or departing from the site.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The id for the truck as provided by eModal</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="type">
								<xs:annotation>
									<xs:documentation>Type of truck.  Possible values are “Drayman” and “TrippedDrayman”.  The value of Tripped Drayman will be sent if the tag has been tampered with.  </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="tagID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The id of the tag associated with the truck</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="tagLowBattery" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If the tag has broadcast a low battery warning recently, that will be indicated by a “Y” in this field.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="banned" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicates whether a truck is banned (Y) or not (N).  The blank value indicates that there is no banned information on this truck.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CARBStatus" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Status of the truck in the California Clean Air Resources Board database.  Possible values are YS (Yes), NO, SM(Submitted), NA, Yes, and Submitted.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CTFPOLBExempt" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Is the truck exempt from the port’s clean truck fee?   Possible values are Y, N, Yes, and No.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IsInSTEP" type="xs:string" minOccurs="0"/>
							<xs:element name="CTFPOLAExempt" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Is the truck exempt from the port’s clean truck fee?   Possible values are Y, N, Yes, and No.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="bannedSites" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Encapsulates information on sites where a truck has been banned</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bannedSite" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Encapsulates information for a specific banned site</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" minOccurs="0">
														<xs:annotation>
															<xs:documentation>name of site</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="banned" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Indicates whether a truck is banned (Y) or not (N).  The blank value indicates that there is no banned information on this truck.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="truckLicenses" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="truckLicense" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Encapsulates the license plate(s) that is associated with the given truck </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The id for the plate as provided by eModal</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="plate" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The license plate number on the drayman truck.

</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="state" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The two character state code for the license plate</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="truckCompanies" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="truckCompany" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Encapsulates the trucking company(ies) that are registered for the given truck</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The id for the company as provided by eModal</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element ref="scac" minOccurs="0"/>
													<xs:element name="billingCodeLA" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Includes the billing code provided by for the Port of Los Angeles.  A blank value indicates that there is no billing code information received for this truck and company.  Please also note that the billing code is determined by the company that the truck is associated with as well as information about the truck.  The same truck can have multiple billing codes if it is associated with more than one company.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="billingCodeLB" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Includes the billing code provided by for the Port of Long Beach.  A blank value indicates that there is no billing code information received for this truck and company.  Please also note that the billing code is determined by the company that the truck is associated with as well as information about the truck.  The same truck can have multiple billing codes if it is associated with more than one company.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="sponsor" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Denotes the San Diego port tenant that will be sponsoring the trucking company, as provided by eModal.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="authorizedAccessStartDate" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Denotes the begin date of the driver’s designated access period, as provided by eModal.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="authorizedAccessEndDate" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Denotes the ending date of the driver’s designated access period, as provided by eModal.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="truckCompanyName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The truck company longname/description as provided by eModal</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="drivers" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="driver" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Encapsulates the driver(s) that are registered to be driving the given truck.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The id for the driver as provided by eModal</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="license" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The drivers license number</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="state" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The two character state code for the license plate</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="lastName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Drivers last name, as provided by eModal.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="firstName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Drivers first name, as provided by eModal.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CDLExpiration" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Drivers commercial drivers license expiration date, as provided by eModal.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="nominatedTerminals" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Encapsulates nominated terminals.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="nominatedTerminal" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>The nominated terminal(s) within the Port of San Diego that the driver has been designated access, as provided by eModal.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="gate">
					<xs:annotation>
						<xs:documentation>Encapsulates the gate where the arrival or departure occurred.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="direction"/>
							<xs:element ref="lane"/>
							<xs:element ref="laneType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="time"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
